<!-- navbar -->

<link rel="stylesheet" type="text/css" href="navbar.css">

<div class="navbar">
  
  <p id="nav" class="navbar-item">nav</p>
  <p id="audio" class="navbar-item">audio</p>
  <p id="phone" class="navbar-item">phone</p>

</div>

<script src="navbar.js"></script>

<script type="text/javascript">

  $(document).ready(function() {
    $(".navbar-item").css("width", (100/$(".navbar-item").length) + "vw");
    // navbar.setActiveTab("audio");
    // navbar.setHoverTab("audio");
  });

</script>