.content {
  height: 100%;
  width: 100vw;
}

.screen {
  height: inherit;
  width: inherit;
  background-color: gray;
}

.placeholder-text {
  text-align: center;
  font-size: 4rem;
  color: white;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
